################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/Service/ETMS.Services/ETMS.Service.BuisinessLayer/bin/Debug/netstandard2.0
