<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
 
    {{ title }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="createproject">Create Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="allocate">Allocate Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="projectlist">Project List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="home/create">Create Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="home/list">Employee List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login">Log in</a>
      </li>
      <li class="nav-item pl-lg-3">
        <button  class="btn btn-outline-primary">Login</button>
        <button class="btn btn-outline-secondary">Logout</button>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid pt-3">
  <a>Please log in to manage your notes.</a>
  <router-outlet></router-outlet>
</div> -->
<router-outlet></router-outlet>
