<div class="card-columns">

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Personal Info</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text">Phone : 9495668186</p>
      <p class="card-text">Email : test@gmail.com</p>
      <p class="card-text">Address : 34,test address, test state</p>
      
      <a href="#" class="card-link">Edit Profile</a>
      
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Project Info</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text">Allocated Project : 9495668186</p>
      <p class="card-text">Started On : Jun 3 ,2020</p>
      <p class="card-text">End On : July10 , 2020</p>
      <p class="card-text">Reporting to : Bhavani Kannan</p>
      <!-- <a href="#" class="card-link">Edit Profile</a> -->
      
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Time Entry Info</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text">Allocated Project : 9495668186</p>
      <p class="card-text">Started On : Jun 3 ,2020</p>
      <p class="card-text">End On : July10 , 2020</p>
      <p class="card-text">Reporting to : Bhavani Kannan</p>
      <!-- <a href="#" class="card-link">Edit Profile</a> -->
      
    </div>
  </div>
</div>